.page-wrapper{
    min-height: 100vh;
}
.places-list{
    width: 300px;
    height: calc(100% - 56px);
    position: fixed;
    left: 0px;
    top: 56px;
    overflow: auto;
    padding: 10px;
}
.navbar{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    z-index: 1;
}
.navbar-toggler{
    cursor: pointer;
}
.card{
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 3px 10px 3px #cccccc;
}
.map-wrapper{
    transition: 0.2s;
    margin: 0px 0px 0px 300px;
    height: 100%;
}
agm-map{
    height: 500px;
}
.hide-sidebar{
    left:-300px!important;
}
.active{
    background: #ddd;
    color: #fff!important;
}