<div class="page-wrapper">
  <nav class="navbar navbar-light bg-light justify-content-start">
    <button class="navbar-toggler" type="button" (click)="hideSideBar=!hideSideBar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand mx-2 mb-0 h1">Welcome</span>
  </nav>
  <div class="places-list" [class.hide-sidebar]="hideSideBar">
    <p>List of places ({{ places.length }})</p>
    <div class="card my-2" *ngFor="let place of places" (click)="placeClicked(place)" [class.active]="isWindowOpen(place.id)" [id]="place.id">
      <div class="card-body">
        <h6 class="card-title">{{ place.name }}</h6>
        <small class="card-subtitle mb-0 text-muted">{{ place.formatted_address }}</small>
      </div>
    </div>
  </div>
  <!-- ===== Map  ===== -->
  <div class="map-wrapper" [class.m-0]="hideSideBar">
    <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="13"
    (mapClick)="mapClicked($event)"
    (mapReady)="mapReady($event)">
      <agm-marker
      *ngFor="let place of places"
      [latitude]="place.latitude"
      [longitude]="place.longitude"
      (markerClick)="selectMarker(place.id,$event)"
      >
      <agm-info-window [isOpen]="isWindowOpen(place.id)" (infoWindowClose)="windowClosed(place.id)" #infoWindow>
        <strong>{{ place.name }}</strong>
      </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <!-- ========== -->
</div>